mat-form-field + mat-form-field {
  margin-left: 1em;
}


mat-card-title {
  padding: 1em;
}
mat-card-content {
  display: flex;
  align-items: center;
  padding-block: 1em;
  button {
    margin-left: auto;
  }
}