<ng-container ngModelGroup="address">
  <mat-form-field>
    <mat-label>Street</mat-label>
    <input ngModel matInput name="street" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Suite</mat-label>
    <input ngModel matInput name="suite" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <input ngModel matInput name="city" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Zipcode</mat-label>
    <input ngModel matInput name="zipcode" />
  </mat-form-field>
</ng-container>