<form #signInForm="ngForm" (ngSubmit)="signIn(signInForm.value)">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input ngModel matInput required name="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input ngModel matInput name="username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input ngModel matInput required name="email" email />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input ngModel matInput required name="password" type="password" />
  </mat-form-field>

  <app-address-inputs></app-address-inputs>  

  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input ngModel matInput name="phone" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Website</mat-label>
    <input ngModel matInput name="website" />
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary" [disabled]="signInForm.invalid">Sign in</button>
</form>
